@using wakeApp.Dtos
@model PostVideoDto

@{
    ViewData["Title"] = "Details";
}

<div>
    <div class="card mb-3" style="border: none;">
        <div class="template-video">
            <video class="video" controls="controls" >
                <source src="@Html.DisplayFor(model => model.VideoFile)" type="video/mp4">
            </video>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Title)</h5>
            @Html.DisplayFor(model => model.Posted)
            Likes @Html.DisplayFor(model => model.LikeDto.CountLike)
            DisLikes @Html.DisplayFor(model => model.LikeDto.CountDislike)
            <hr />
            <div>
                <h5>
                    <img src="@Html.DisplayFor(model => model.ChannelDto.IconChannel)" style="border:none; width:50px; height:50px;" />
                    @Html.DisplayFor(model => model.ChannelDto.ChannelName)
                </h5>
                <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
            </div>
            <hr />
            <div>
                <h5>
                    Comentários 
                </h5>
                <form class="row col">
                    <textarea class="form-control me-2 bg-dark" style="color:white;" placeholder="Adicionar um comentário" rows="3"></textarea>
                    <button class="col-sm-2 btn btn-dark btn-outline-info" type="submit" style="margin-top:10px; margin-bottom:10px;">Add</button>
                </form>
                <p>
                    @Html.DisplayFor(model => model.CommentDto.CommentText)
                </p>
            </div>
        </div>
    </div>
</div>
