@using wakeApp.Dtos
@model ViewModel

@{
    ViewData["Title"] = @Model.PostVideoDto.Title + " - ";
    ViewData["Dislike"] = "Não Gostei";
    ViewData["like"] = "Gostei";
    ViewData["Follows"] = "Inscritos";
}

<div>
    <div class="card mb-3" style="border: none;">
        <div class="template-video">
            <video class="video" controls="controls" >
                <source src="@Html.DisplayFor(model => model.PostVideoDto.VideoFile)" type="video/mp4">
            </video>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.PostVideoDto.Title)</h5>
            <ul>
                <li style="display:inline-block;">
                    
                </li>
                <li style="display:inline-block;">
                    @Html.DisplayFor(model => model.PostVideoDto.Posted)
                </li>
                @if (Model.EvaluationDto.TotalLikes != 0)
                {
                    <li style="display:inline-block;">
                        <form asp-action="AddLike">
                            <input type="hidden" asp-for="PostVideoDto.Id" class="form-control" />
                            <input type="hidden" asp-for="PostVideoDto.UserId" class="form-control" />
                            <input type="hidden" asp-for="PostVideoDto.ChannelDto.Id" class="form-control" />
                            <button style="background:none; color:white; border:none;" type="submit">
                                <i class="bi bi-hand-thumbs-up"></i> @Html.DisplayFor(model => model.EvaluationDto.TotalLikes)
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li style="display:inline-block;">
                        <form asp-action="AddLike">
                            <input type="hidden" asp-for="PostVideoDto.Id" class="form-control" />
                            <input type="hidden" asp-for="PostVideoDto.UserId" class="form-control" />
                            <input type="hidden" asp-for="PostVideoDto.ChannelDto.Id" class="form-control" />
                            <button style="background:none; color:white; border:none;" type="submit">
                                <i class="bi bi-hand-thumbs-up"></i> @ViewData["like"]
                            </button>
                        </form>
                    </li>
                }
                @if (Model.EvaluationDto.TotalDislikes != 0)
                {
                    <li style="display:inline-block;">
                        <form>
                            <button style="background:none; color:white; border:none;" type="submit">
                                <i class="bi bi-hand-thumbs-down"></i> @Html.DisplayFor(model => model.EvaluationDto.TotalDislikes)
                            </button>
                        </form>
                    </li>

                }
                else
                {
                    <li style="display:inline-block;">
                        <form>
                            <button style="background:none; color:white; border:none;" type="submit">
                                <i class="bi bi-hand-thumbs-down"></i> @ViewData["Dislike"]
                            </button>
                        </form>
                    </li>
                }
            </ul>
            <hr />
            
            <!--<partial name="../PostVideos/LikesVideo.cshtml" view-data="ViewData" />-->
            <div>
                <h5>
                    <a asp-controller="Channels" asp-action="Details" asp-route-id="@Model.PostVideoDto.ChannelDto.Id">
                        <img src="@Html.DisplayFor(model => model.PostVideoDto.ChannelDto.IconChannel)" style="border:none; width:50px; height:50px;" />
                        @Html.DisplayFor(model => model.PostVideoDto.ChannelDto.ChannelName)
                    </a>
                </h5>
                <p style="font-size: 15px;">@Html.DisplayFor(model => model.CountFollowers) @ViewData["Follows"]</p>
                <p class="card-text">@Html.DisplayFor(model => model.PostVideoDto.Description)</p>
            </div>
            <hr />
            <div>
                <h5>
                    Comentários 
                </h5>
                <form class="row col">
                    <textarea class="form-control me-2 bg-dark" style="color:white;" placeholder="Adicionar um comentário" rows="3"></textarea>
                    <button class="col-sm-2 btn btn-dark btn-outline-info" type="submit" style="margin-top:10px; margin-bottom:10px;">Comentar</button>
                </form>
                @foreach (var item in Model.CommentDtos)
                {
                    <p>@Html.DisplayFor(modelItem => item.CommentText)</p>
                }
            </div>
        </div>
    </div>
</div>
